#game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#message {
  margin-top: 100px;
  color: rgb(90, 90, 90);
  font-family: helvetica, monospace;
  font-size: 14px;
}

#message h2 {
  color: rgb(40, 40, 40);
}

#dishes {
  opacity: 0.3;
  position: absolute;
  bottom: 0px;
  width: calc(100% + 30px);
  height: 100px;
  margin-left: -30px;
  overflow: hidden;
}

#dishes,
#dishes div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 3;
}

#dishes div img {
  position: absolute;
  bottom: 0px;
  image-rendering: pixelated;
}

.w18 {
  width: 33px;
}

.w25 {
  width: 50px;
}

.w50 {
  width: 100px;
}

.w75 {
  width: 150px;
}

@media (max-width: 650px) or (max-height: 650px) {
  #chester #chester-img {
    width: 46px;
  }

  .w18 {
    width: 26px;
  }

  .w25 {
    width: 38px;
  }

  .w50 {
    width: 75px;
  }

  .w75 {
    width: 113px;
  }
}

@media (max-width: 450px) or (max-height: 450px) {
  /* #chester img {
    width: 23px;
  } */

  .w18 {
    width: 18px;
  }

  .w25 {
    width: 25px;
  }

  .w50 {
    width: 50px;
  }

  .w75 {
    width: 75px;
  }
}


@media (max-width: 900px) {
  #dishes .large-dishes {
    display: none;
  }
}

@media (max-width: 275px) {
  #dishes .medium-dishes {
    display: none;
  }
}

@media (max-height: 500px) {
  #message {
    display: none;
  }
}

#chester-wrapper {
  transition: opacity 2s, display 2s;
}

#chester {
  animation: chester-appear 30s linear infinite;
}

#chester img {
  position: absolute;
  filter: blur(1.5px);
  z-index: -1;
  bottom: 115px;
  width: 69px;
  image-rendering: pixelated;
  opacity: 0.3;
  animation-name: chester-fly;
  animation: chester-fly 30s linear infinite;
}

@keyframes chester-appear {
  0% {
    opacity: 0
  }

  7% {
    opacity: 0
  }

  15% {
    opacity: 1
  }

  30% {
    opacity: 0
  }

  40% {
    opacity: 0
  }

  48% {
    opacity: 1
  }

  55% {
    opacity: 1
  }

  95% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@keyframes chester-fly {
  0% {
    left: calc(100% - 69px);
    transform: scaleX(1);
  }

  49% {
    transform: scaleX(1);
  }

  50% {
    left: 0px;
    transform: scaleX(-1);
  }

  99% {
    transform: scaleX(-1);
  }

  100% {
    left: calc(100% - 69px);
    transform: scaleX(1);
  }
}



/* night / day cycle */

#t {
  transition: background 1s;
}

#main-frame-error {
  transition: filter 1s;
}

#dishes {
  transition: filter 1s;
}



html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.icon {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
}

.icon-offline {
  content: -webkit-image-set(url(assets/default_100_percent/100-error-offline.png) 1x, url(assets/default_200_percent/200-error-offline.png) 2x);
  position: relative;
}

.hidden {
  display: none;
}


/* Offline page */

.offline .interstitial-wrapper {
  color: #2b2b2b;
  font-size: 1em;
  line-height: 1.55;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 100px;
  width: 100%;
}

.offline .runner-container {
  height: 150px;
  max-width: 600px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  width: 44px;
}

.offline .runner-canvas {
  height: 150px;
  max-width: 600px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
}

.offline .controller {
  background: rgba(247, 247, 247, .1);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
}

#offline-resources {
  display: none;
}

@media (max-width: 420px) {

  .suggested-left>#control-buttons,
  .suggested-right>#control-buttons {
    float: none;
  }

  .snackbar {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
  }
}

@media (max-height: 350px) {
  h1 {
    margin: 0 0 15px;
  }

  .icon-offline {
    margin: 0 0 10px;
  }

  .interstitial-wrapper {
    margin-top: 5%;
  }

  .nav-wrapper {
    margin-top: 30px;
  }
}

@media (min-width: 600px) and (max-width: 736px) and (orientation: landscape) {
  .offline .interstitial-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 420px) and (max-width: 736px) and (min-height: 240px) and (max-height: 420px) and (orientation:landscape) {
  .interstitial-wrapper {
    margin-bottom: 100px;
  }
}

@media (min-height: 240px) and (orientation: landscape) {
  .offline .interstitial-wrapper {
    margin-bottom: 90px;
  }

  .icon-offline {
    margin-bottom: 20px;
  }
}

@media (max-height: 320px) and (orientation: landscape) {
  .icon-offline {
    margin-bottom: 0;
  }

  .offline .runner-container {
    top: 10px;
  }
}

@media (max-width: 640px) {
  .interstitial-wrapper {
    overflow: inherit;
    padding: 0 20px;
  }
}