@charset "UTF-8";

#home-banner {
    position: absolute;
    display: block;
    opacity: 0.5;
    font-family: 'Helvetica', monospace;
    font-weight: 100;
    text-align: center;
    height: 200px;
    width: 600px;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -300px;
    font-size: 30px;
}

.label {
    font-size: 28px;
    background-color: lightgreen;
    padding: 5px;
    border-radius: 7px;
}